<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:output method="html" media-type="text/html" doctype-system="http://www.w3.org/TR/html4/loose.dtd" indent="yes"/>
        
<!-- ============================================================= -->

<!-- *** change per environment *** -->
<xsl:variable name="analytics_account">UA-2393236-7</xsl:variable>
<xsl:variable name="gsaurl">http://search.spark.co.nz</xsl:variable>

<!-- *** keyword match (in title or snippet) *** -->
<xsl:variable name="res_keyword_color"></xsl:variable>
<xsl:variable name="res_keyword_size"></xsl:variable>
<xsl:variable name="res_keyword_format">b</xsl:variable> <!-- 'b' for bold -->

<!-- *** spelling suggestions *** -->
<xsl:variable name="show_spelling">1</xsl:variable>
<xsl:variable name="spelling_text">Did you mean:</xsl:variable>
<xsl:variable name="spelling_text_color">#cc0000</xsl:variable>


<!-- *** GSA search defaults *** -->
<xsl:variable name="gsa_collection">
  <xsl:choose>
    <xsl:when test="/GSP/PARAM[(@name='site') and (@value!='')]">
      <xsl:value-of select="/GSP/PARAM[@name='site']/@value"/>
    </xsl:when>
    <xsl:otherwise>spark_all_collection</xsl:otherwise>
  </xsl:choose>
</xsl:variable>

<!-- ============================================================= -->
<!-- ============================================================= -->

<!-- *** num_results: actual num_results per page *** -->
<xsl:variable name="num_results">
  <xsl:choose>
    <xsl:when test="/GSP/PARAM[(@name='num') and (@value!='')]">
      <xsl:value-of select="/GSP/PARAM[@name='num']/@value"/>
    </xsl:when>
    <xsl:otherwise>
      <xsl:value-of select="10"/>
    </xsl:otherwise>
  </xsl:choose>
</xsl:variable>

<!-- ============================================================= -->
<!-- ============================================================= -->

<!-- *** base_url: collection info *** -->
<xsl:variable name="base_url">
  <xsl:for-each
    select="/GSP/PARAM[@name = 'client' or
                     @name = 'site' or
                     @name = 'num' or
                     @name = 'output' or
                     @name = 'proxystylesheet' or
                     @name = 'access' or
                     @name = 'lr' or
                     @name = 'ie']">
    <xsl:value-of select="@name"/>=<xsl:value-of select="@original_value"/>
    <xsl:if test="position() != last()">&amp;</xsl:if>
  </xsl:for-each>
</xsl:variable>

<!-- ============================================================= -->
<!-- ============================================================= -->

<!-- *** show suggestions (remote auto-completions) *** -->
<xsl:variable name="show_suggest">0</xsl:variable>

<!-- ============================================================= -->
<!-- ============================================================= -->

<!-- *** search_url *** -->
<!-- FILTERed OUT 'ip' param as this exposes the spark reverse pxy address -->
<xsl:variable name="search_url">
  <xsl:for-each select="/GSP/PARAM[(@name != 'start') and
                                   (@name != 'swrnum') and
                                   (@name != 'ip') and
                     (@name != 'epoch' or $is_test_search != '') and
                     not(starts-with(@name, 'metabased_'))]">
    <xsl:value-of select="@name"/><xsl:text>=</xsl:text>
    <xsl:value-of select="@original_value"/>
    <xsl:if test="position() != last()">
      <xsl:text disable-output-escaping="yes">&amp;</xsl:text>
    </xsl:if>
  </xsl:for-each>
</xsl:variable>

<!-- ============================================================= -->
<!-- ============================================================= -->

<!-- *** if this is a test search (help variable)-->
<xsl:variable name="is_test_search"
  select="/GSP/PARAM[@name='testSearch']/@value"/>

<!-- ============================================================= -->
<!-- ============================================================= -->

<xsl:template name="nbsp">
  <xsl:text disable-output-escaping="yes">&amp;nbsp;</xsl:text>
</xsl:template>

<!-- ============================================================= -->
<!-- ============================================================= -->

<xsl:template match="/GSP">
  
<xsl:variable name="queryterm" select="./PARAM[@name='q']/@value"/>
<xsl:variable name="querytime" select="./TM"/>
<xsl:variable name="resultnumstart" select="./RES/@SN"/>
<xsl:variable name="resultnumend" select="./RES/@EN"/>
<xsl:variable name="resultnumapproxtotal" select="./RES/M"/>
<xsl:variable name="keymatchtitle" select="./GM/GD"/>
<xsl:variable name="keymatchurl" select="./GM/GL"/>
 
<html lang="en">
 <head>
  <title>Search Spark New Zealand</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Search the Spark New Zealand site for products, services, latest news, sponsorships, jobs and lots more..." />
  <script type="text/javascript" src="//www.spark.co.nz/digital-content/assets/js/libs/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="//www.spark.co.nz/etc/designs/telecomcms/clientlib.js"></script>
  <script type="text/javascript">
  <![CDATA[

        var dirtyString = window.location.href;
        var cleanString = dirtyString.replace(/[;%"<>]/g,"");

        if(dirtyString.indexOf('>') >= 0 || dirtyString.indexOf('"') >= 0 || dirtyString.indexOf('%') >= 0 || dirtyString.indexOf(';') >= 0 ) {
           window.location = cleanString;
        }  
        
  ]]>
  </script>
  <link rel="stylesheet" media="print" href="//www.spark.co.nz/digital-content/assets/css/print.css" />
  <link rel="shortcut icon" href="//www.spark.co.nz/favicon.ico" />
  <!--[if lte IE 9]>
   <link rel="stylesheet" type="text/css" href="//www.spark.co.nz/digital-content/assets/css/ie9-and-down.css" />
   <script src="//www.spark.co.nz/digital-content/assets/js/PIE_IE678.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="http://www.spark.co.nz/etc/designs/telecomcms/clientlib.css"></link>

  <link rel="stylesheet" type="text/css" href="http://www.spark.co.nz/content/dam/telecomcms/css/newbrand-addon.css"></link>

  <style type="text/css">
  

  @font-face {
    font-family: 'fontello';
    src: url(//touchcast.co.nz/font/Fontello/fontello.eot?37849650);
    src: url(//touchcast.co.nz/font/Fontello/fontello.eot?37849650#iefix) format("embedded-opentype"), url(//touchcast.co.nz/font/Fontello/fontello.woff?37849650) format("woff"), url(//touchcast.co.nz/font/Fontello/fontello.ttf?37849650) format("truetype"), url(//touchcast.co.nz/font/Fontello/fontello.svg?37849650#fontello) format("svg");
    font-weight: normal;
    font-style: normal; }
  
    address{
      overflow: hidden;
    }

    #gsacontent ul {
      margin:0;
      list-style-type: none;
    }
  
   .gsaresultsinfo{margin-top:10px}
   #product_results{float:left;width:450px;padding-right:18px}
   #help_and_support{float:left;width:450px;padding-left:18px}
   #content {margin-top:-30px !important}
   div.gsatitlewrap{width:1940px;height:68px;clear:both;background-color:#43338F;background-image:linear-gradient(to bottom, #43338F 0px, #604494 100%);box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.196)}
   h3.gsatitle{position:relative;top:-28px;color:#fff;font-family:"TelecomNational-SemiBold","Arial Bold","Gadget",sans-serif;font-size: 42px;letter-spacing:-0.03em;text-transform:uppercase;text-transform:uppercase;line-height:26px;vertical-align:baseline}
   input.searchinner{float:left;margin:0;border-color:#009ad8;text-indent:5px;height:32px !important;width:460px;font-size:22px !important;font-family:Calibri,"TelecomNationalRegular","Arial Bold",Gadget,sans-serif;color:#0070D9 !important}
   button.searchsubmit{display:block;float:left;margin:0 0 0 20px;height:35px !important;line-height:23px;width:137px !important;background-color:#59C6F2 !important;background-image:linear-gradient(to bottom, #59C6F2 0px, #009AD8 100%);color:#fff;border-radius:5px;border:solid 1px transparent;font-family:"TelecomNational-SemiBold","Arial Bold","Gadget",sans-serif;font-size:23px;text-decoration:none;text-shadow:0px 1px 2px rgba(0, 0, 0, 0.298);text-transform:uppercase;text-align:center}
   button.searchsubmit i{font-size:17px}
   p.dumean{clear:both;padding:15px 0 0 0}

  #header .divisions ul li a {
    font-family: AvenirNextLTPro-Regular, Arial;
  }


  </style>
 </head>
 <body>


<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WT5NVL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WT5NVL');</script>
<!-- End Google Tag Manager -->



 
 <div id="top"></div>

 <!--googleoff: index-->
 <div id="header">
  <div id="header-nav-wrap">
   <a class="current-parent" id="top-logo" href="http://www.spark.co.nz/home/"><img src="//www.spark.co.nz/etc/designs/telecomcms/resources/images/Spark-Header-Logo0.png" width="190" height="221" alt="Spark New Zealand Trading Limited." /></a>
   <div id="navigation">
    <nav class="divisions">
     <ul>
      <li><a href="http://www.sparknz.co.nz/" target="_blank">Spark New Zealand</a></li>
      <li><a href="http://www.sparkdigital.co.nz/" target="_blank">Spark Digital</a></li>
      <li><a href="http://www.sparkventures.co.nz" target="_blank">Spark Ventures</a></li>
      <li><a href="http://www.sparkfoundation.org.nz/" target="_blank">Spark Foundation</a></li>
     </ul>
    </nav>
    <nav class="type">
     <ul>
      <li class="current-parent menu-top-item active" id="menu-top-item1" data-topmenu_id="1"><a class="current-parent" href="http://www.spark.co.nz/home/">Personal</a></li>
      <li class="current-parent menu-top-item" id="menu-top-item2" data-topmenu_id="2"><a class="current-parent" href="http://www.spark.co.nz/business/">Business</a></li>
     </ul>
    </nav>
    <nav class="primary show">
     <ul class="primary-wrap">
      <li class="current"><a class="current" href="http://www.spark.co.nz/shop/">Shop</a>
             
      </li>
      <li class="current"><a class="current" href="http://www.spark.co.nz/discover/">Discover</a></li>
      <li class="current"><a class="current" href="http://www.spark.co.nz/help/">Help</a></li>
      <li class="current"><a class="current" href="http://www.spark.co.nz/myspark/">MySpark</a></li>
      <li class="search">
        <form action="http://search.spark.co.nz/search" method="get" name="site-search">
            <div class="input-append">
                <!-- spark Search Vars -->
                <div id="spark-search-vars" class="hide">
                  <input name="site" value="spark_all_collection"></input>
                  <input name="client" value="spark_frontend"></input>
                  <input name="output" value="xml_no_dtd"></input>
                  <input name="proxystylesheet" value="spark_frontend"></input>
                  <input name="filter" value="1"></input>
                </div>
                <!-- Search Field -->
                <input type="text" placeholder="Search topic" name="q" id="appendedInputButton" class="span2"></input>
                <!-- Search Button -->
                <button type="submit" class="btn"><i class="icon-search"></i></button>
            </div>
        </form>
      </li>
      <li><a href="http://www.spark.co.nz/contactus/">Contact</a></li>
     </ul>
    </nav>
   </div>
  </div>
 </div>
 <!--googleon: index-->


 <div class="gsatitlewrap"></div>
 <div id="tertiary-wrap"></div>


  <div id="content">
   <div class="content-container">
  <h3 class="gsatitle" style="width:480px">Search Results</h3>
    <div class="module">
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
          <div id="gsacontent">
           <div class="SearchControls">
            <div class="gsasearch">
             <xsl:element name="form">
              <xsl:attribute name="id">suggestion_form</xsl:attribute>
              <xsl:attribute name="name">gs</xsl:attribute>
              <xsl:attribute name="method">GET</xsl:attribute>
              <xsl:attribute name="action"><xsl:value-of select="$gsaurl"/>/search</xsl:attribute>
              <xsl:element name="input">
               <xsl:attribute name="type">hidden</xsl:attribute>
               <xsl:attribute name="name">site</xsl:attribute>
               <xsl:attribute name="value"><xsl:value-of select="$gsa_collection"/></xsl:attribute>
              </xsl:element>
              <input type="hidden" name="getfields" value="description" />
              <input type="hidden" name="client" value="spark_frontend" />
              <input type="hidden" name="output" value="xml_no_dtd" />
              <input type="hidden" name="proxystylesheet" value="spark_frontend" />
              <input type="hidden" name="filter" value="1" />
              <div class="inputwrap">
               <xsl:element name="input">
             <xsl:attribute name="type">text</xsl:attribute>
             <xsl:attribute name="value"><xsl:value-of select="$queryterm"/></xsl:attribute>
             <xsl:attribute name="name">q</xsl:attribute>
             <xsl:attribute name="id">q</xsl:attribute>
             <xsl:attribute name="class">searchinner</xsl:attribute>
             <xsl:attribute name="maxlength">256</xsl:attribute>
               </xsl:element>
        <!-- <a class="searchsubmit" href="javascript:document.gs.submit()"><i class="icon-search"></i>Search</a> -->
        <button class="searchsubmit" type="submit"><i class="icon-search"></i>Search</button>
              </div>
             </xsl:element>
            </div>

           <!-- *** Handle spelling suggestions, if any *** -->
           <xsl:if test="$show_spelling != '0'">
           <xsl:call-template name="spelling"/>
           </xsl:if>
           
           </div>

           <!-- start product results here -->
           <div id="product_results">
            <div class="gsaresultsinfo"><h2 class="info">Products and Services</h2><p class="sub">Buying and using Spark products and services</p></div>
            

           <xsl:if test="/GSP/RES/R">
           <div class="count"><xsl:value-of select="$resultnumstart"/> - <xsl:value-of select="$resultnumend"/> of <xsl:value-of select="$resultnumapproxtotal"/> results </div>
           <!--// for "<b><xsl:value-of select="$queryterm"/></b>" //-->
           </xsl:if>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
           <table cellpadding="0" cellspacing="0" class="ss-gac-m" style="width:365px;visibility:hidden" id="search_suggest"></table>

<!-- *** KeyMatch, if any *** -->
<xsl:if test="/GSP/GM/GL">
<ul id="gsakeymatch">
<li class="item">
<h3><a href="{$keymatchurl}">
<xsl:value-of select="$keymatchtitle"/>
</a></h3>
<address><a href="{$keymatchurl}">
<xsl:value-of select="$keymatchurl"/>
</a></address>
</li>
</ul>
</xsl:if>




<!-- *** Handle results (if any) *** -->
           <xsl:choose>
<!--<xsl:when test="RES or GM or Spelling or Synonyms or CT or /GSP/ENTOBRESULTS">-->
            <xsl:when test="/GSP/RES/R">
             <xsl:call-template name="results">
              <xsl:with-param name="query" select="$queryterm"/>
              <xsl:with-param name="time" select="$querytime"/>
             </xsl:call-template>
            </xsl:when>
            <xsl:when test="/GSP/Q=''">
            </xsl:when>
            <xsl:otherwise>
             <xsl:call-template name="no_RES">
              <xsl:with-param name="query" select="/GSP/Q"/>
             </xsl:call-template>
            </xsl:otherwise>
           </xsl:choose>

<!-- end product results here -->
</div>


<div id="help_and_support">
<div class="gsaresultsinfo"><h2 class="info">Help and Support</h2><p class="sub">FAQs, user guides and problem solving solutions, plus results from our community site</p></div>


<div id="noresults" class="suggest" style="display:none">
<p>Sorry, no help and support articles were found containing your query</p>
</div>
<div id="help_and_support_results"></div>

<script type="text/javascript" src="//static.spark.co.nz/digital-content/assets/js/spark_gsa_insert.js"></script>
<script type="text/javascript">
 keyword="<xsl:call-template name="reformat_qstring"><xsl:with-param name="orig_qstring" select="$queryterm"/></xsl:call-template>"
 gsaInsert(keyword,10,100)
 function viewall_setup(){viewall_link(keyword)}
</script>
 <!-- <a href="javascript:viewall_setup()" class="viewall">View all Help and Support results <i class="icon-right-open"></i></a> -->
<a href="http://www.spark.co.nz/help/" class="viewall">View all Help and Support topics <i class="icon-right-open"></i></a> 
</div>




</div>

   </div>
  </div>
 </div>


 
<!--googleoff: index-->
<!--// footer start //-->
<script type="text/javascript" src="//www.spark.co.nz/digital-content/assets/js/script.js"></script>
<div id="footer">
 <div id="footer_channel">
  <div id="itpg" class="itpgshadow">
   <form name="itpForm" action="">
    <h2 class="pink block"><span>Help us improve this page</span></h2>
    <div id="itpgcont">
     <h4>How could we make this page better?</h4>
     <p id="itpMax">1000 characters</p>
     <textarea onkeyup="itpCounter()" name="itpMsg" cols="65" rows="7" id="itpMsg" placeholder="Please share your thoughts here..."></textarea>
     <a href="javascript:itpSend('cancel')" class="cancel">Cancel</a>
     <a href="javascript:itpSend('submit')" class="button orange span2">Submit</a>
    </div>
   </form>
  </div>
  <div id="mask"></div>
  <div class="help">
   <a id="itpLink" href="http://www.spark.co.nz/rating/na/" onclick="itpg();return false"><i class="icon-chat"></i>Help improve this page</a>
   <a href="javascript:window.print()"><i class="icon-doc-text-inv"></i>Print this page</a>
   <a onclick="emailPage()" href="#" rel="popup"><i class="icon-mail-alt"></i>Email this page</a>
  </div>
  <a href="#top" class="top"><i class="icon-angle-circled-up"></i>Back to top</a>
 </div>
 <div class="fullwidth-bg">
  <ul class="breadcrumb">
   <li><a href="http://www.spark.co.nz/home/">Personal</a><div class="arrow"></div></li>
   <li><a href="#" onclick="document.getElementById('q').focus()">Search</a><div class="arrow"></div></li>
  </ul>
 </div>
 <div class="fullwidth-bg off-white">
  <div class="nav">
   <div class="col">
      <h5><a href="//www.spark.co.nz/shop/">Shop</a></h5>
      <ul>
                  
        <li>
            <a href="//www.spark.co.nz/shop/mobile/">Mobile</a>
        </li>
     
        <li>
            <a href="//www.spark.co.nz//shop/internet/">Internet</a>
        </li>
    
        <li>
            <a href="//www.spark.co.nz//shop/landline/">Landline</a>
        </li>
          
      </ul>
   </div>
   <div class="col">
        <h5><a href="//www.spark.co.nz/discover/">Discover</a></h5>
        <ul>
        
            <li>
                <a href="//www.spark.co.nz/discover/samsunggalaxys5/">Samsung Galaxy S5</a>
            </li>

            <li>
                <a href="//www.spark.co.nz/discover/ultrabroadband/">Ultra Broadband</a>
            </li>
        
            <li>
                <a href="//www.spark.co.nz/discover/ultramobile/">Ultra Mobile</a>
            </li>
        
            <li>
                <a href="//www.spark.co.nz/discover/spotifymusicstreaming/">Spotify Premium</a>
            </li>
                    
            <li>
                <a href="//www.spark.co.nz/discover/cutandpaste/">Cut &amp; Paste</a>
            </li>

        </ul>
   </div>
   <div class="col">
      <h5><a href="//www.spark.co.nz/help/">Help</a></h5>
      <ul>

        <li>
            <a href="//www.spark.co.nz/help/techinasec/">Tech in a sec</a>
        </li>

        <li>
            <a href="//www.spark.co.nz/help/broadband/">Internet</a>
        </li>

        <li>
            <a href="//www.spark.co.nz/help/mobileandmobilebroadband/">Mobile</a>
        </li>

        <li>
            <a href="//www.spark.co.nz/help/landline/">Landline</a>
        </li>

        <li>
            <a href="//www.spark.co.nz/help/iphone/">iPhone</a>
        </li>

        <li>
            <a href="//www.spark.co.nz/help/billing/">Billing</a>
        </li>
          
      </ul>
   </div>
   <div class="col">
        <h5><a href="//www.spark.co.nz/myspark/">MySpark</a></h5>
        <ul>

            <li>
                <a href="//www.spark.co.nz/myspark/">Sign in</a>
            </li>

            <li>
                <a href="//www.spark.co.nz/myspark/">Register</a>
            </li>

            <li>
                <a href="//www.spark.co.nz/myspark/mymobile/">My Mobile</a>
            </li>

            <li>
                <a href="//www.spark.co.nz/myspark/mymobilebroadband/">My Mobile Broadband</a>
            </li>

            <li>
                <a href="//www.spark.co.nz/myspark/myinternet/">My Internet</a>
            </li>

            <li>
                <a href="//www.spark.co.nz/myspark/mylandline/">My Landline</a>
            </li>

        </ul>
   </div>
   <div class="col contact">
    <h5><a href="//www.spark.co.nz/contactus/">Contact Us</a></h5>
    <p><a href="//www.spark.co.nz/storefinder/">Store Finder</a></p>
    <div class="footer-social">
     <h5>Follow us</h5>
     <ul>
      <li class="social"><a href="http://www.facebook.com/spark4nz"><i class="icon-facebook-squared"></i></a></li>
      <li class="social"><a href="http://twitter.com/sparknz"><i class="icon-twitter"></i></a></li>
      <li class="social"><a href="http://www.youtube.com/sparknewzealand"><i class="icon-youtube-squared"></i></a></li>
     </ul>
    </div>
   </div>
   <div class="bottom">
    <div class="wrap">
     <ul>
      <li><a href="http://www.sparknz.co.nz/">Spark New Zealand</a></li>
      <li> | <a href="http://www.sparkdigital.co.nz/">Spark Digital</a></li>
      <li> | <a href="http://www.sparkventures.co.nz/">Spark Ventures</a></li>
      <li> | <a href="http://www.sparkfoundation.org.nz/">Spark Foundation</a></li>
     </ul>
     <ul class="legal">
      <li><a href="http://www.spark.co.nz/disclaimer/">Legal Disclaimer</a> | </li>
      <li><a href="http://www.spark.co.nz/privacypolicy/">Privacy Policy</a> | </li>
      <li><a href="http://www.spark.co.nz/accessibility/">Accessibility</a> | </li>
      <li><a href="http://www.spark.co.nz/terms/">Terms and conditions</a></li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
<script type="text/javascript" src="//www.spark.co.nz/digital-content/assets/js/libs/html5shiv.js"></script>
<script type="text/javascript" src="//www.spark.co.nz/digital-content/assets/js/libs/html5shiv-printshiv.js"></script>
<!--// footer end //-->

<!--googleon: index-->

 
  <xsl:call-template name="analytics"/>
  
 </body>
</html>
</xsl:template>

<!-- ============================================================= -->
<!-- ============================================================= -->

<xsl:template name="results">
 <xsl:param name="query"/>
    <xsl:param name="time"/>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <ul id="gsaresultslist">
  <xsl:apply-templates select="/GSP/RES/R"/>
   </ul>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
 
 <!--
 <p>
        prev=<xsl:value-of select="/GSP/RES/NB/PU"/><br/>
        next=<xsl:value-of select="/GSP/RES/NB/NU"/><br/>
        view_begin=<xsl:value-of select="/GSP/RES/@SN"/><br/>
        view_end=<xsl:value-of select="/GSP/RES/@EN"/><br/>
        guess=<xsl:value-of select="/GSP/RES/M"/><br/>
   </p>
 -->
<div class="pagination">
 <ul>
  <xsl:call-template name="google_navigation">
   <xsl:with-param name="prev" select="/GSP/RES/NB/PU"/>
   <xsl:with-param name="next" select="/GSP/RES/NB/NU"/>
   <xsl:with-param name="view_begin" select="/GSP/RES/@SN"/>
   <xsl:with-param name="view_end" select="/GSP/RES/@EN"/>
   <xsl:with-param name="guess" select="/GSP/RES/M"/>
  </xsl:call-template>
 </ul>
</div>


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
</xsl:template>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
 
<xsl:template match="R">
 <xsl:variable name="link_href" select="./U"/>
    <xsl:variable name="link_desc" select="./T"/>
    <xsl:variable name="snippet" select="./S"/>
 
<!--
 <xsl:variable name="collection_name">
  <xsl:choose>
   <xsl:when test="contains($link_href, 'http://www.spark.co.nz/')">Spark:</xsl:when>
   <xsl:when test="contains($link_href, 'http://www.spark-media.co.nz/')">Spark Media:</xsl:when>
   <xsl:otherwise></xsl:otherwise>
  </xsl:choose>
 </xsl:variable>
-->
      
   <li class="item">
    <h3><!--<xsl:value-of select="$collection_name"/>--><a href="{$link_href}"><xsl:call-template name="reformat_keyword">
    <xsl:with-param name="orig_string" select="$link_desc"/>
    </xsl:call-template></a></h3>
    <p><xsl:call-template name="reformat_keyword">
    <xsl:with-param name="orig_string" select="$snippet"/>
    </xsl:call-template></p>
    <address><a href="{$link_href}"><xsl:value-of select="$link_href"/></a></address>
   </li>
</xsl:template>



<!-- **********************************************************************
  Variables for reformatting keyword-match display (do not customize)
     ********************************************************************** -->
<xsl:variable name="keyword_orig_start" select="'&lt;b&gt;'"/>
<xsl:variable name="keyword_orig_end" select="'&lt;/b&gt;'"/>
<xsl:variable name="keyword_strip_this" select="'&lt;'"/>
<xsl:variable name="keyword_strip_with" select="''"/>

<xsl:variable name="keyword_reformat_start">
  <xsl:if test="$res_keyword_format">
    <xsl:text>&lt;</xsl:text>
    <xsl:value-of select="$res_keyword_format"/>
    <xsl:text>&gt;</xsl:text>
  </xsl:if>
  <xsl:if test="($res_keyword_size) or ($res_keyword_color)">
  <xsl:text>&lt;font</xsl:text>
  <xsl:if test="$res_keyword_size">
    <xsl:text> size="</xsl:text>
    <xsl:value-of select="$res_keyword_size"/>
    <xsl:text>"</xsl:text>
  </xsl:if>
  <xsl:if test="$res_keyword_color">
    <xsl:text> color="</xsl:text>
    <xsl:value-of select="$res_keyword_color"/>
    <xsl:text>"</xsl:text>
  </xsl:if>
  <xsl:text>&gt;</xsl:text>
  </xsl:if>
</xsl:variable>

<xsl:variable name="keyword_reformat_end">
  <xsl:if test="($res_keyword_size) or ($res_keyword_color)">
    <xsl:text>&lt;/font&gt;</xsl:text>
  </xsl:if>
  <xsl:if test="$res_keyword_format">
    <xsl:text>&lt;/</xsl:text>
    <xsl:value-of select="$res_keyword_format"/>
    <xsl:text>&gt;</xsl:text>
  </xsl:if>
</xsl:variable>



<!-- **********************************************************************
  Reformat the keyword match display in a title/snippet string
     (do not customize)
     ********************************************************************** -->
<xsl:template name="reformat_keyword">
  <xsl:param name="orig_string"/>

  <xsl:variable name="reformatted_1">
    <xsl:call-template name="replace_string">
      <xsl:with-param name="find" select="$keyword_orig_start"/>
      <xsl:with-param name="replace" select="$keyword_reformat_start"/>
      <xsl:with-param name="string" select="$orig_string"/>
    </xsl:call-template>
  </xsl:variable>

  <xsl:variable name="reformatted_2">
    <xsl:call-template name="replace_string">
      <xsl:with-param name="find" select="$keyword_orig_end"/>
      <xsl:with-param name="replace" select="$keyword_reformat_end"/>
      <xsl:with-param name="string" select="$reformatted_1"/>
    </xsl:call-template>
  </xsl:variable>

  <xsl:value-of disable-output-escaping='yes' select="$reformatted_2"/>

</xsl:template>



<xsl:template name="reformat_qstring">
  <xsl:param name="orig_qstring"/>
  <xsl:variable name="qstring_fixed">
    <xsl:call-template name="replace_string">
      <xsl:with-param name="find" select="$keyword_strip_this"/>
      <xsl:with-param name="replace" select="$keyword_strip_with"/>
      <xsl:with-param name="string" select="$orig_qstring"/>
    </xsl:call-template>
  </xsl:variable>
  <xsl:value-of disable-output-escaping='yes' select="$qstring_fixed"/>
</xsl:template>


<!-- *** Find and replace *** -->
<xsl:template name="replace_string">
  <xsl:param name="find"/>
  <xsl:param name="replace"/>
  <xsl:param name="string"/>
  <xsl:choose>
    <xsl:when test="contains($string, $find)">
      <xsl:value-of select="substring-before($string, $find)"/>
      <xsl:value-of select="$replace"/>
      <xsl:call-template name="replace_string">
        <xsl:with-param name="find" select="$find"/>
        <xsl:with-param name="replace" select="$replace"/>
        <xsl:with-param name="string"
          select="substring-after($string, $find)"/>
      </xsl:call-template>
    </xsl:when>
    <xsl:otherwise>
      <xsl:value-of select="$string"/>
    </xsl:otherwise>
  </xsl:choose>
</xsl:template>

<!-- ================================================================================= -->
<!-- ================================================================================= -->

<!-- **********************************************************************
 Google navigation bar in result page (do not customize) aka pagination
     ********************************************************************** -->
<xsl:template name="google_navigation">
 <xsl:param name="prev"/>
 <xsl:param name="next"/>
 <xsl:param name="view_begin"/>
 <xsl:param name="view_end"/>
 <xsl:param name="guess"/>
 <xsl:variable name="navigation_style">link</xsl:variable>
 <xsl:variable name="fontclass">b</xsl:variable>
  
  <!-- *** Test to see if we should even show navigation *** -->
  <xsl:if test="($prev) or ($next)"> 
        
     <!-- *** Show previous navigation, if available *** -->
     <xsl:variable name="arrow_style">
      <xsl:choose>
       <xsl:when test="$prev">enable</xsl:when>
        <xsl:otherwise>disable</xsl:otherwise>
       </xsl:choose>
    </xsl:variable>

    <li class="prev {$arrow_style}"><a href="search?{$search_url}&amp;start={$view_begin - $num_results - 1}"><i class="icon-left-open"></i></a></li>

  <!-- *** Google result set navigation *** -->
        <xsl:variable name="mod_end">
          <xsl:choose>
            <xsl:when test="$next"><xsl:value-of select="$guess"/></xsl:when>
            <xsl:otherwise><xsl:value-of select="$view_end"/></xsl:otherwise>
          </xsl:choose>
        </xsl:variable>

        <xsl:call-template name="result_nav">
          <xsl:with-param name="start" select="0"/>
          <xsl:with-param name="end" select="$mod_end"/>
          <xsl:with-param name="current_view" select="($view_begin)-1"/>
          <xsl:with-param name="navigation_style" select="$navigation_style"/>
        </xsl:call-template>
  
  <!-- *** Show next navigation, if available *** -->
        <xsl:choose>
          <xsl:when test="$next">
           <li class="continues"><a href="#">...</a></li>
           <li class="next"><a href="search?{$search_url}&amp;start={$view_begin + $num_results - 1}"><i class="icon-right-open"></i></a></li>
          </xsl:when>
        </xsl:choose>

  <!-- *** End Google result bar *** -->

  </xsl:if>
</xsl:template>

<!-- **********************************************************************
 Helper templates for generating Google result navigation (do not customize)
   only shows 10 sets up or down from current view
     ********************************************************************** -->
<xsl:template name="result_nav">
  <xsl:param name="start" select="'0'"/>
  <xsl:param name="end"/>
  <xsl:param name="current_view"/>
  <xsl:param name="navigation_style"/>

  <!-- *** Choose how to show this result set *** -->
  <xsl:choose>
    <xsl:when test="($start)&lt;(($current_view)-(10*($num_results)))">
    </xsl:when>
    <xsl:when test="(($current_view)&gt;=($start)) and
                    (($current_view)&lt;(($start)+($num_results)))">
      <li class="active"><a href="#"><xsl:value-of select="(($start)div($num_results))+1"/></a></li>
    </xsl:when>
    <xsl:otherwise>
     <li class="passive"><a href="search?{$search_url}&amp;start={$start}"><xsl:value-of select="(($start)div($num_results))+1"/></a></li>
    </xsl:otherwise>
  </xsl:choose>

  <!-- *** Recursively iterate through result sets to display *** -->
  <xsl:if test="((($start)+($num_results))&lt;($end)) and
                ((($start)+($num_results))&lt;(($current_view)+
                (5*($num_results))))"> 
    <xsl:call-template name="result_nav">
      <xsl:with-param name="start" select="$start+$num_results"/>
      <xsl:with-param name="end" select="$end"/>
      <xsl:with-param name="current_view" select="$current_view"/>
      <xsl:with-param name="navigation_style" select="$navigation_style"/>
    </xsl:call-template>
  </xsl:if>

</xsl:template>

<!-- ================================================================================= -->
<!-- ================================================================================= -->

<!-- **********************************************************************
 Spelling suggestions in result page (do not customize)
     ********************************************************************** -->
<xsl:template name="spelling">
  <xsl:if test="/GSP/Spelling/Suggestion">
    <p class="dumean"><span class="p"><font color="{$spelling_text_color}">
         <xsl:value-of select="$spelling_text"/>
         <xsl:call-template name="nbsp"/>
       </font></span>
       <a ctype="spell" href="search?q={/GSP/Spelling/Suggestion[1]/@qe}&amp;spell=1&amp;{$base_url}">
       <xsl:value-of disable-output-escaping="yes"
         select="/GSP/Spelling/Suggestion[1]"/>
      </a>
    </p>
  </xsl:if>
</xsl:template>


<!-- **********************************************************************
 Empty result set (can be customized)
     ********************************************************************** -->
<xsl:template name="no_RES">
  <xsl:param name="query"/>

<span id="zero" style="display: none;">0</span>
<span id="term" style="display: none;"><xsl:value-of select="$query"/></span>  
<div class="suggest">
<!--// <p>Sorry, no product pages were found containing <b>"<xsl:value-of select="$query"/>"</b></p> //-->
 <p>Sorry, no product pages were found containing your query</p>
 <br /><b>Suggestions:</b>
 <ul>
  <li>Make sure all words are spelt correctly.</li>
  <li>Try different keywords.</li>
  <li>Try more general keywords.</li>
 </ul>
</div>
 

</xsl:template>




<!-- **********************************************************************
 Analytics script (do not customize)
     ********************************************************************** -->
<xsl:template name="analytics">
  <xsl:if test="string-length($analytics_account) != 0">
    <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', '<xsl:value-of select="$analytics_account"/>']);
       _gaq.push(['_setDomainName', '.spark.co.nz']);
       _gaq.push(['_setAllowHash', false]);
   
  // No search results for Google Analytics
  var searchZero = document.getElementById("zero");
  if (searchZero) {
    var searchTerm = document.getElementById("term");
    if (searchTerm) {
      searchTerm = searchTerm.innerHTML;
    }
    else {
      searchTerm = "";
    }
    _gaq.push(['_trackPageview', '/search?q=no-result:'+searchTerm+'&amp;cat='+'no-result']);
  }
  else {
    _gaq.push(['_trackPageview']);
  }
   
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
 </script>
  </xsl:if>
</xsl:template>

</xsl:stylesheet>
